{% extends 'frontend/base.html' %}
{% load bootstrap4 %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row justify-content-center mt-5">
            <div class="col-6">
                <form method="post" class="form">
                    {% csrf_token %}
                    {%  bootstrap_form form %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">회원가입</button>
                    {% endbuttons %}
                </form>
{#                <form id="agreeSign" method="post" novalidate>#}
{#                    {% csrf_token %}#}
{#                    <label for="name">이름</label>#}
{#                    <input type="text" id="name" name="name" class="form-control">#}
{#                    <label for="date">날짜</label>#}
{#                    <input type="date" id="date" name="date" class="form-control">#}
{#                    <button class="btn btn-primary btn-rounded btn-block my-4" type="button"#}
{#                            onclick="agree()">동의하고 연구 참여#}
{#                </form>#}
{#            </div>#}
        </div>
</div>
{% endblock %}