{% if sequence.stimulus.type == 'text' %}
    {% if sequence.choices %}
        'html-button-response'
    {% else %}
        'html-keyboard-response'
    {% endif %}
{% elif sequence.stimulus.type == 'text_file' %}
    {% if sequence.choices %}
        'html-button-response'
    {% else %}
        'html-keyboard-response'
    {% endif %}
{% elif sequence.stimulus.type == 'video' %}
    'video-button-response'
{% elif sequence.stimulus.type == 'image' %}
    'image-button-response'
{% elif sequence.stimulus.type == 'audio' %}
    'audio-button-response'
{% endif %}
