{% extends 'frontend/base.html' %}

{% block content %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">{{ research.project_title }}</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="pb-3">
                    <span class="h5">{{ game.game_title }}</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <form id="agreeSign" method="post" novalidate>
                    <button class="btn btn-primary btn-rounded btn-block my-4" type="button"
                            onclick="agree()">게임시작
                </form>
            </div>
        </div>
    </div>

{% endblock %}