{% extends 'frontend/base.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td colspan="3">실험명</td>
                        <td>연구자</td>
                        <td>참여일시</td>
                        <td>완료</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3">실험 제목</td>
                        <td>홍길동</td>
                        <td>2019.03.01</td>
                        <td>완료</td>
                    </tr>
                    {% for participate in participate_list %}
                        <td>{{ participate.research.project_title }}</td>
                        <td>{{ participate.research.user }}</td>
                        <td>{{ participate.participate_at }}</td>
                        <td>{{ participate.is_finish }}</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}